@model Fifa19.Models.Torneo

@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>"          "</h4>
<h2>Referee Performance</h2>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Porcentaje de Desempeño
        </th>
        <th></th>
    </tr>

</table>

@Html.ActionLink("Back to List", "Index")
